body{
	background-color: #ccdef9;

}
form#login{
	padding: 20px;
    background-color: wheat;
    width: 500px;
     border: 1px solid #a5bbec;
}

form#register{
	padding: 20px;
    background-color: wheat;
    width: 600px;
     border: 1px solid #a5bbec;
}
h1{
	font-family: 'Ceviche One', cursive;
}
